<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Allied" thread-count="2" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browsername" value="chrome"/>
        <parameter name="url" value="http://168.61.189.83/#/login"/>
        <parameter name="localDriverpath" value="C:\Program Files\chromedriver.exe"/>

        <classes>
            <class name="Login_Testcase.LoginTest"/>
            <!--<class name="UserProfile_Testcase.UserProfileTest"/>-->
        </classes>
    </test>

    <!--<test name="FirefoxTest">-->
        <!--<parameter name="browsername" value="firefox"/>-->
        <!--<parameter name="url" value="http://168.61.189.83/#/login"/>-->
        <!--<parameter name="localDriverpath" value="C:\Program Files\geckodriver.exe"/>-->

        <!--<classes>-->
            <!--<class name="Login_Testcase.LoginTest"/>-->
            <!--<class name="UserProfile_Testcase.UserProfileTest"/>-->
        <!--</classes>-->
    <!--</test>-->

</suite>